{% set theme_config = attribute(config.themes, config.system.pages.theme) %}
<!doctype html>
<html class="no-js" lang="{{ grav.language.getActive ?: grav.config.site.default_lang }}">
<head>
    {% block head %}
        {% include 'partials/head.html.twig' %}
    {% endblock %}
</head>
<body class="{{ page.header.body_classes }}">
<div id="app">

    {% block header %}
        {% include 'partials/header.html.twig' %}
    {% endblock %}

    <main>
        {% block content %}{% endblock %}
    </main>

    {% block footer %}
        {% include 'partials/footer.html.twig' %}
    {% endblock %}

</div>

{% block bottom %}
    {{ assets.js('bottom')|raw }}
{% endblock %}

<!-- Google Analytics -->
<!-- change all G-XXXXXXXXX with your ID -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-XXXXXXXXX"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'G-XXXXXXXXX'); // change G-XXXXXXXXX with your ID
</script>
<!-- End Google Analytics -->

</body>
</html>