    <footer class="footer">
        <ul class="inline">
            <li>&copy; <a href="https://selekkt.dk/">Sēlekkt.</a></li>
            <li><a href="https://selekkt.dk/help/skelet/docs">Skēlet docs</a></li>
            <li><a href="https://selekkt.dk/git/grav-skelet">Grav-Skēlet</a></li>
        </ul>
    </footer>