<footer class="text-center">

    <ul class="inline">
        <li><a href="https://selekkt.dk/" class="button">Sēlekkt.</a></li>
        <li><a href="https://selekkt.dk/skelet/v3/" class="button is-blank">Skelet. docs</a></li>
        <li><a href="https://selekkt.dk/git/grav-skelet" class="button is-blank">grav-Skelet</a></li>
    </ul>
    <p>&nbsp;</p>

</footer>